.result-button {
  height: 40px;
  color: #223a5f;
  font-size: 14px;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
  align-items: center;
  border-radius: 12px;
  border-style: none;
  outline: none;
  font-weight: 500;
}
